.background{
    background-color: var(--bg-color-primary-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5% 0;
}
.logo-container p{
    font-family: var(--font-family-logo);
    font-style: var(--font-style-logo);
    font-weight: var(--font-weight-logo);
    font-size: 2.7rem;
    color: var(--bg-light-shade);
}
.name-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4% 0;
}
.name-container label{
    color: white;
    font-family: var(--text-font-family);
    font-weight: 300;
    font-style:var(--text-font-style);
    margin:2% 0;
}
.name-container input{
    border:none;
    border-radius: 50px;
    padding: 2% 3%;
    font-size: 1em;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-style:var(--text-font-style);
}
.name-container input:focus{
    outline: none;
}
.start-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.start-button-container button{
    background-color: var(--bg-color-button);
    border: none;
    color: var(--text-color);
    font-size: 1.4em;
    margin: 3% 0;
    padding: 2% 8%;
    border-radius: 50px;
    width: 100%;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-style:var(--text-font-style);
}
.start-button-container button:hover{
    background-color: var(--bg-color-button-hover);
    cursor: pointer;
}